httpx>=0.28.1
fastapi>=0.116.1
uvicorn>=0.35.0
langchain>=0.3.27
langchain-core>=1.2.22
langchain-openai>=0.2.14
langchain-community>=0.3.27
duckduckgo-search>=7.0.0
ddgs>=9.0.0
langchain-core>=1.2.22
langgraph>=0.6.6
numpy>=2.0.0
pypdf
qdrant-client>=1.12.1
python-dotenv>=1.1.1
python-multipart>=0.0.20
PyJWT>=2.10.1
sqlalchemy>=2.0.36
pymysql>=1.1.1

